# Project exclude paths
/.gradle/
.gradle
.idea
build
/build/
application-oauth.properties
# ----
#    |      is not brought in from application.properties
application-google.properties
application-oauth.yml